
@{
    ViewBag.Title = "Jugar";
    Layout = "~/Views/Master/CampodeJuego.cshtml";
}

<div style="position:absolute; top:60%; left:50%; transform:translate(-47%,-50%);">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/6bSiQixEot8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


