@model Proyecto_201700404.Models.ViewModels.TableroViewModel
@{
    ViewBag.Title = "ConfiguracionTablero";
    Layout = "~/Views/Master/CampodeJuego.cshtml";
}

@using (Html.BeginForm("ConfiguracionTablero", "Xtreme", FormMethod.Post))
{
    <div style="border-radius:10px; width:600px; height:50%; position:absolute; top:60%; left:50%; transform:translate(-47%,-50%); background-color:rgba(0, 0, 0,.8)">
        <style>
            .blanco {
                color: white;
            }
        </style>
        <div style="margin-left: 50%; position: absolute; margin-top: 25%; width: 50%; height: 80%; transform: translate(-50%,-50%);" class="">
            <p style=" font-family:'Agency FB';font-size:25px; " class="text-center text-white">
                Elija las configuraciones del tablero.

            </p>

            <div class="form-group row">

                <label class="col-sm-5 col-form-label text-white">No. Filas</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(d => d.Fila, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Fila, null, new { @class = "blanco" })


                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-5 col-form-label text-white">No. Columnas</label>
                <div class="col-sm-7">
                    @Html.TextBoxFor(d => d.Columna, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Columna, null, new { @class = "blanco" })


                </div>
            </div>

            <div class="form-group row">
                <button value="Ir a partida" type="submit" class="form-control btn btn-primary">
                    Ir a Tablero   <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </button>

            </div>
        </div>


    </div>
}

